@import url(variables.css);
/*------------------
CONTAINER
------------------*/
.container{
    max-width: 71.25rem;
}
/*------------------
HEADER
------------------*/
header{
    background-color: var(--first-color);
    color: var(--second-color); 
}
.row-header{
    display: flex;
    justify-content: space-between;
}
.header-list{
    display: flex;
}
li{
    padding: .3125rem;
    list-style: none;
}
a{
    color: var(--second-color);
    text-decoration: none;
}
/*------------------
MAIN
------------------*/
/*------------------
SECTION 1
------------------*/
section{
    background-color: var(--third-color);
    /* text-align: center; */
}
section > .container{
    text-align: center;
}
.img{
    width: 12.5rem;
    height: 12.5rem;
    background-color: red;
}
/*------------------
SECTION 2
------------------*/
.row-portfolio{
    display: flex;
    flex-wrap: wrap;
}
img{
    width: 100%;
}
/*------------------
SECTION 3
------------------*/
.row-about{
    display: flex;
}
/*------------------
SECTION 4
------------------*/
#contact-list{
    text-align: left;
}
#contact-list > li{
    border-bottom: .0625rem solid;
}
/*------------------
FOOTER
------------------*/
footer{
    background-color: var(--footer-color);
}
.row-footer{
    display: flex;
}


.copyright{
    text-align: center;
}